<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WonderLust</title>
  </head>
  <body>
    <h3>Create a New Listing</h3>
    <form action="/listings" method="POST">
      <input type="text" placeholder="enter title" name="listing[title]" />
      <br /><br />
      <textarea
        name="listing[description]"
        placeholder="enter description"
        id=""
        type="text"
      ></textarea>
      <br /><br />
      <input
        type="text"
        placeholder="enter image URL/Link"
        name="listing[image][url]"
      />
      <br /><br />
      <input type="number" placeholder="enter price" name="listing[price]" />
      <br /><br />
      <input type="text" placeholder="enter country" name="listing[country]" />
      <br /><br />
      <input
        type="text"
        placeholder="enter location"
        name="listing[location]"
      />
      <br /><br />
      <button>Add</button>
    </form>
  </body>
</html>
