<% layout("/layouts/boilerplate") %>
<body>
  <div class="row">
    <div class="col-8 offset-2">
      <br /><br />
      <h3>Creating New List</h3>
      <form
        action="/listings"
        method="POST"
        novalidate
        class="needs-validation"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            placeholder="Add a catchy title"
            name="listing[title]"
            class="form-control"
            required
          />
          <div class="valid-feedback">Title looks good!</div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            name="listing[description]"
            id=""
            type="text"
            class="form-control"
            required
          ></textarea>
          <div class="invalid-feedback">Please enter a short description</div>
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Image Link</label>
          <input
            type="text"
            placeholder="enter image URL/Link"
            name="listing[image][url]"
            class="form-control"
          />
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              type="number"
              placeholder="1200"
              name="listing[price]"
              class="form-control"
              required
            />
            <div class="invalid-feedback">price should be valid</div>
          </div>
          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input
              type="text"
              placeholder="India"
              name="listing[country]"
              class="form-control"
              required
            />
            <div class="invalid-feedback">country name should be valid</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            type="text"
            placeholder="Pune, Maharashtra"
            name="listing[location]"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Location should be valid</div>
        </div>

        <button class="btn btn-dark add-btn">Add</button>
        <br /><br />
      </form>
    </div>
  </div>
</body>
